Practice/CodeChefLongChallenge/src/decemberlongchallenge/module/common/serviceinterface/AppModuleService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/decemberlongchallenge/module/common/types/"
     xmlns:tns="/decemberlongchallenge/module/common/types/" xmlns:ns0="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:ns1="/decemberlongchallenge/uiview/common/">
    <import namespace="/decemberlongchallenge/uiview/common/" schemaLocation="../../../uiview/common/SqlinjectionSDO.xsd"/>
    <import namespace="http://xmlns.oracle.com/adf/svc/errors/" schemaLocation="classpath:/META-INF/wsdl/ServiceException.xsd"/>
    <element name="createSqlinjection1">
        <complexType>
            <sequence>
                <element name="sqlinjection1" type="ns1:SqlinjectionSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="createSqlinjection1Response">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SqlinjectionSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateSqlinjection1">
        <complexType>
            <sequence>
                <element name="sqlinjection1" type="ns1:SqlinjectionSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateSqlinjection1Response">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SqlinjectionSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteSqlinjection1">
        <complexType>
            <sequence>
                <element name="sqlinjection1" type="ns1:SqlinjectionSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteSqlinjection1Response">
        <complexType>
            <sequence/>
        </complexType>
    </element>
</schema>
