Practice/CodeChefLongChallenge/src/decemberlongchallenge/module/common/serviceinterface/AppModuleService.wsdl

<wsdl:definitions
     name="AppModuleService"
     targetNamespace="/decemberlongchallenge/module/common/"
     xmlns:tns="/decemberlongchallenge/module/common/"
     xmlns:types="/decemberlongchallenge/module/common/types/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="classpath:/META-INF/wsdl/ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="/decemberlongchallenge/module/common/types/" schemaLocation="AppModuleService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="AppModuleService_createSqlinjection1">
        <wsdl:part name="parameters" element="types:createSqlinjection1"/>
    </wsdl:message>
    <wsdl:message name="AppModuleService_createSqlinjection1Response">
        <wsdl:part name="parameters" element="types:createSqlinjection1Response"/>
    </wsdl:message>
    <wsdl:message name="AppModuleService_updateSqlinjection1">
        <wsdl:part name="parameters" element="types:updateSqlinjection1"/>
    </wsdl:message>
    <wsdl:message name="AppModuleService_updateSqlinjection1Response">
        <wsdl:part name="parameters" element="types:updateSqlinjection1Response"/>
    </wsdl:message>
    <wsdl:message name="AppModuleService_deleteSqlinjection1">
        <wsdl:part name="parameters" element="types:deleteSqlinjection1"/>
    </wsdl:message>
    <wsdl:message name="AppModuleService_deleteSqlinjection1Response">
        <wsdl:part name="parameters" element="types:deleteSqlinjection1Response"/>
    </wsdl:message>
    <wsdl:portType name="AppModuleService">
        <wsdl:documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="Sqlinjection1" xmlns:ns0="/decemberlongchallenge/uiview/common/"
                 SDOName="ns0:SqlinjectionSDO" CreateOpName="createSqlinjection1" UpdateOpName="updateSqlinjection1"
                 DeleteOpName="deleteSqlinjection1"/>
        </wsdl:documentation>
        <wsdl:operation name="createSqlinjection1">
            <wsdl:input message="tns:AppModuleService_createSqlinjection1"/>
            <wsdl:output message="tns:AppModuleService_createSqlinjection1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateSqlinjection1">
            <wsdl:input message="tns:AppModuleService_updateSqlinjection1"/>
            <wsdl:output message="tns:AppModuleService_updateSqlinjection1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteSqlinjection1">
            <wsdl:input message="tns:AppModuleService_deleteSqlinjection1"/>
            <wsdl:output message="tns:AppModuleService_deleteSqlinjection1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AppModuleServiceSoapHttp" type="tns:AppModuleService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createSqlinjection1">
            <soap:operation soapAction="/decemberlongchallenge/module/common/createSqlinjection1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSqlinjection1">
            <soap:operation soapAction="/decemberlongchallenge/module/common/updateSqlinjection1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteSqlinjection1">
            <soap:operation soapAction="/decemberlongchallenge/module/common/deleteSqlinjection1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AppModuleService">
        <wsdl:port name="AppModuleServiceSoapHttpPort" binding="tns:AppModuleServiceSoapHttp">
            <soap:address location="http://localhost:7101/DecemberLongChallenge/AppModuleService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
